<!-- Page Header -->
<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
    <span class="text-uppercase page-subtitle">{{ pageTitle }}</span>
    <h3 class="page-title">Activity</h3>
  </div>
</div>
<!-- Back Navigation -->
<button class="btn btn-link p-0 mb-2" (click)="goBack()">&larr; Back</button>
<!-- Edit Activity -->
<div class="row" *ngIf="activity">
  <div class="col-lg-8">
    <div class="card card-small mb-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-3">
          <div class="row">
            <div class="col">
              <form #activityForm="ngForm">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="cbType">Type</label>
                    <select id="cbType" class="form-control" name="type" [(ngModel)]="activity.type">
                      <option selected>Select Activity...</option>
                      <option *ngFor="let a of activityType | enum" [value]="a.key">{{a.value}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lbDate">Date</label>
                    <input [ngModel]="activity.date | date:'yyyy-MM-dd'" (ngModelChange)="activity.date = $event" class="form-control"
                      type="date" id="lbDate" name="date" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="lbDistance">Distance (km/s)</label>
                    <input [(ngModel)]="activity.distance" class="form-control" id="lbDistance" name="distance"
                      #distance="ngModel" required />
                    <div class="alert alert-danger" [hidden]="distance.valid || distance.pristine">
                      Required Field
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lbDuration">Duration (hh:mm:ss)</label>
                    <div id="lbDuration" class="input-group">
                      <input [(ngModel)]="activity.hours" class="form-control" name="hours" placeholder="hr" type="number"
                        #hours="ngModel" required>
                      <input [(ngModel)]="activity.minutes" class="form-control" name="minutes" placeholder="min" type="number"
                        #minutes="ngModel" required>
                      <input [(ngModel)]="activity.seconds" class="form-control" name="seconds" placeholder="sec" type="number"
                        #seconds="ngModel" required>
                    </div>
                    <div class="alert alert-danger" [hidden]="hours.valid || hours.pristine">
                      Required Field
                    </div>
                    <div class="alert alert-danger" [hidden]="minutes.valid || minutes.pristine">
                      Required Field
                    </div>
                    <div class="alert alert-danger" [hidden]="seconds.valid || seconds.pristine">
                      Required Field
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="lbMessage">Message</label>
                  <textarea [(ngModel)]="activity.message" class="form-control" id="lbMessage" rows="3" name="message"></textarea>
                </div>
                <button class="btn btn-accent" (click)="update(activity)" [disabled]="!activityForm.form.valid">Save</button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>